<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Stylesheets & CSS-->   
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- Bootstrap scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- Javascripts -->
    <script src="/javascripts/autocomplete.js"></script>
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/navigation.js"></script>
    <script src="/javascripts/categoryFunctions.js"></script>
    <script src="/javascripts/productFunctions.js"></script>
    <script src="/javascripts/dropdowns.js"></script>
    <script src="/javascripts/addStore.js"></script>
	<script src="/javascripts/reportFunctions.js"></script>
    <script src="/javascripts/userFunctions.js"></script>

    <nav id="navbar" style="border-bottom:2px solid black" class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-nav">
			<a style="color:black" class="nav-item nav-link" id="shopNav"> Catalogue </a>
			<a style="color:black" class="nav-item nav-link" id="reportsNav"> Reports </a> 
			<a style="color:black" class="nav-item nav-link" id="backEndNav"> Management </a>               
        </div>
        <div id="loggedInUser" onload="getLoggedInUser()"></div>
    </nav>
</head>

<body>
{{{body}}}
</body>
</html>

